* {
    font-size: 15px;
}
body {
    background: #232323;
    text-align: center;
}

/* 视频列表子元素 */
.videoListStyle {
    position: relative;
    margin: 5px;
    background: gainsboro;
    display: inline-block;
    width: 290px;
}
p, li, ul, #button {
    text-align: left;
}
.play {
    cursor: pointer;
    height: 100%;
}

/* 视频标题 */
.title {
    margin: 5px 0 10px 0;
    padding: 0 0 0 10px;
    height: 40px;
    overflow: hidden;
}

/* 视频图片 */
.imgArea {
    height: 162px;
    width: 100%;
}

/* 观看次数、钻石 */
ul {
    padding: 0 0 0 10px;
    margin: 5px 0;
}
li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.point {
    margin-left: 10px;
}
#play_blank {
    background: lightgreen;
    border: none;
    outline: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}
.time {
    position: absolute;
    bottom: 60px;
    right: 3px;
    text-shadow: 2px 2px 4px black;
    color: white;
    user-select: none;
    pointer-events: none;
}
.addTime {
    position: absolute;
    bottom: 82px;
    left: 3px;
    text-shadow: 2px 2px 4px black;
    color: white;
    user-select: none;
    pointer-events: none;
}

.imgArea img {
    height: 100%;
    max-width: 290px;
    object-fit: contain;
    /* width: 100%; */
}
.imgArea .play::after {
    content: "";
    height: 25px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 55px;
    background: linear-gradient(to top, #222, #2224);
}
/* 添加按钮 */
#button {
    width: 100px;
    position: fixed;
    z-index: 99;
    bottom: 100px;
}
#button button {
    background: lightgreen;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    outline: none;
}
#button * {
    cursor: pointer;
}
/* 视频续播按钮 */
#continue {
    background: lightgreen;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    margin-bottom: 10px;
}
#login {
    margin-bottom: 10px;
}
#add {
    margin-bottom: 10px;
}
#add_token {
    margin-bottom: 10px;
}

/* 播放页 */
#player {
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}
#dplayer {
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 22;
    position: fixed;
}

/* 视频播放页关闭 */
#close {
    opacity: 0;
    background: greenyellow;
    text-align: center;
    display: inline-block;
    height: 100%;
    width: 100%;
}

/* 登录界面 */
#user_login {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background: #232323;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}
#user_input {
    background: yellow;
    margin-left: 40%;
    z-index: 22;
    position: fixed;
    margin-top: 10%;
}
#user_close {
    width: 100%;
    height: 100%;
    opacity: 0;
}
#userName {
    margin-bottom: 20px;
}
#password {
    margin-bottom: 20px;
}

/* 滚动条 */
*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
*::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    height: 6px;
    border-radius: 25px;
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.30);
}