body {
    user-select: none;
    background: #232323;
}
#search {
    height: 25px;
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 5px;
    border-radius: 10px;
    border-color: burlywood;
    outline: none;
}
.list {
    margin-top: 30px;
}
/* 行块盒就是直接切换 [aaa] 不会分开 */
.list a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: blue;
}